* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ececec;
    font-family: "Calibri";
    font-size: 1em;
    color: #696969;
}

h1 {
    display: none;
}

#headerContainer {
    background-color: #ffffff;
    height: 100px;
    border-bottom: #2d9bf0 1px solid;
}

#headerContainerCh, #contentContainerCh {
    margin: auto;
    padding: 30px;
    width: 80%;
}

fieldset, table {
    background-color: #ffffff;
}

button, input[type="submit"] {
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    min-width: 80px;
    color: #ffffff;
    background-color: #2d9bf0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

button:hover, input[type="submit"]:hover {
    background-color: #0068f0;
}

input[type="submit"] {
    float: right;
}

input[type="text"] {
    width: 100%;
    border: 1px #2d9bf0 solid;
    font-size: 1.1em;
    padding: 2px 0;
    margin: 5px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px
}

table {
    min-width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table thead {
    background-color: #2d9bf0;
    color: #ffffff;
}

tr {
    border: 1px solid #2d9bf0;
}

th, td {
    padding: 5px;
}

td:last-child > button {
    float: right;
}

fieldset {
    padding: 10px;
    border: 2px solid #2d9bf0;
    border-radius: 4px;
}

legend {
    margin-left: 10px;
    padding: 0px 10px;
    font-size: 1.1em;
    color: #2d9bf0;
}

